@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@this.ViewBag.Title</title>

    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/showdown")
    @Scripts.Render("~/bundles/tutorial")
    @this.RenderSection("Script", false)

</head>
<body>
    <h2>@this.ViewBag.Title</h2>
    <div>
        @this.RenderBody()
    </div>
@Html.ReactInitJavaScript()
</body>
</html>